In [4]:
import pandas as pd
from sklearn.ensemble import RandomForestRegressor

In [11]:
df=pd.read_csv("TV.csv")
#df_q1 = df.copy()

In [8]:
#df_q1.head(1)

,Product_Name,Stars,Ratings,Reviews,current_price,MRP,channel,Operating_system,Picture_quality,Speaker,Frequency
0,Croma,4.2,1773,217,7990,20000,HD Ready 1366 x 768 Pixels,20 Speaker Output,60 Hz Refresh Rate,2 x HDMI | 2 x USB,1 Year Warranty

In [13]:
df_q1 = df[["Picture_quality", "Frequency", "Speaker"]].copy()

In [15]:
df_q1.head()

              Picture_quality           Frequency              Speaker
0          60 Hz Refresh Rate     1 Year Warranty   2 x HDMI | 2 x USB
1  HD Ready 1366 x 768 Pixels  60 Hz Refresh Rate  20 W Speaker Output
2  HD Ready 1366 x 768 Pixels  50 Hz Refresh Rate  10 W Speaker Output
3  HD Ready 1366 x 768 Pixels  60 Hz Refresh Rate  20 W Speaker Output
4  HD Ready 1366 x 768 Pixels  60 Hz Refresh Rate  20 W Speaker Output

In [20]:
n1=sum(df_q1["Picture_quality"].str.contains("60 Hz Refresh Rate"))
n1

77

In [21]:
n2 = sum(df_q1["Frequency"].str.contains("60 Hz Refresh Rate"))
n2

423

In [22]:
n3 = sum(df_q1["Speaker"].str.contains("60 Hz Refresh Rate"))
n3

10

In [25]:
ans_q1 = n1+n2+n3
ans_q1

510

In [26]:
###Q2

df_q2 = df[["Stars","Operating_system", "channel", "Picture_quality"]].copy()
df_q2.head(1)

   Stars   Operating_system                     channel     Picture_quality
0    4.2  20 Speaker Output  HD Ready 1366 x 768 Pixels  60 Hz Refresh Rate

In [44]:
df_q2["4K_1"] = df["Operating_system"].str.contains("4K") + 0
df_q2["4K_2"] = df["channel"].str.contains("4K") + 0
df_q2["4K_3"] = df["Picture_quality"].str.contains("4K") + 0
df_q2["4K_cnt"] = df_q2["4K_1"]+df_q2["4K_2"]+df_q2["4K_3"]

df_q2["8K_1"] = df["Operating_system"].str.contains("8K")+0
df_q2["8K_2"] = df["channel"].str.contains("8K") + 0
df_q2["8K_3"] = df["Picture_quality"].str.contains("8K") + 0
df_q2["8K_cnt"] = df_q2["8K_1"]+df_q2["8K_2"]+df_q2["8K_3"]

df_q2.head(1)

,Stars,Operating_system,channel,Picture_quality,4K_1,4K_2,4K_3,4K_cnt,8K_1,8K_2,8K_3,8_cnt,8K_cnt
0,4.2,20 Speaker Output,HD Ready 1366 x 768 Pixels,60 Hz Refresh Rate,0,0,0,0,0,0,0,0,0

In [39]:
stars_4K = df_q2.loc[df_q2["4K_cnt"] > 0, "Stars"].mean()
stars_8K = df_q2.loc[df_q2["8K_cnt"] > 0, "Stars"].mean()
#stat_4K = df_q2.loc[df_q2["4K_cnt"] > 0, "Stars"].mean()

In [42]:
ans_q2 = round(abs(stars_4K-stars_8K),2)
ans_q2

0.38

In [ ]:
############3

In [43]:
df_q3 = df.copy()

In [49]:
df_q3["channel"].str.contains("Pixel|Oper").value_counts()

False    548
True     118
Name: channel, dtype: int64

In [51]:
df_q3 = df_q3[~df_q3["channel"].str.contains("Pixel|Oper")]
df_q3 = df_q3.reset_index(drop = True)
df_q3.head(2)

,Product_Name,Stars,Ratings,Reviews,current_price,MRP,channel,Operating_system,Picture_quality,Speaker,Frequency
0,Adsun,3.8,6742,930,8699,21999,Netflix|Disney+Hotstar|Youtube,Operating System: Android Based,HD Ready 1366 x 768 Pixels,20 W Speaker Output,60 Hz Refresh Rate
1,LG,4.4,38870,3443,16499,21990,Netflix|Prime Video|Disney+Hotstar|Youtube,Operating System: WebOS,HD Ready 1366 x 768 Pixels,10 W Speaker Output,50 Hz Refresh Rate

In [53]:
df_q3["x1"] = df_q3["Reviews"] / df_q3 [ "Ratings"]
df_q3["x2"] = df_q3["MRP"]
df_q3["x3"] = df_q3["current_price"] / df_q3 [ "MRP"]
df_q3["x4"] = df_q3["channel"].str.contains("Netflix") + 0
df_q3["x5"] = df_q3["channel"].str.contains("Prime") + 0
df_q3["x6"] = df_q3["Picture_quality"].str.contains("4K|8K") + 0

In [54]:
df_model = df_q3[["Stars", "x1", "x2", "x3", "x4", "x5", "x6"]]
df_model.head(2)

   Stars        x1     x2        x3  x4  x5  x6
0    3.8  0.137941  21999  0.395427   1   0   0
1    4.4  0.088577  21990  0.750296   1   1   0

In [55]:
df_model.isna().sum()

Stars      0
x1       351
x2         0
x3         0
x4         0
x5         0
x6         0
dtype: int64

In [56]:
df_model = df_model.dropna()

In [57]:
df_model.isna().sum()

Stars    0
x1       0
x2       0
x3       0
x4       0
x5       0
x6       0
dtype: int64

In [74]:
df_model_rf = RandomForestRegressor (random_state = 123)
df_model_rf.fit(X=df_model.drop(columns = "Stars"),
                y=df_model["Stars"])

RandomForestRegressor(random_state=123)

In [80]:
df_model_rf.feature_importances_

array([0.31220617, 0.17383963, 0.4446912 , 0.02714087, 0.02400442,
       0.01811773])

In [85]:
pd.DataFrame ([df_model_rf.feature_importances_], 
              columns = df_model.columns[1:])

         x1       x2        x3        x4        x5        x6
0  0.312206  0.17384  0.444691  0.027141  0.024004  0.018118